.about {
    min-height: 90vh;
    position: relative;
    .arrowUp {
        position: fixed;
        right: 2%;
        bottom: 8%;
        display: none;
        z-index: 2;
        i {
            font-size: 3rem;
            color: $primaryColor;
        }
        a {
            font-size: 1.5rem;
            text-decoration: none;
            color: #000;
        }
        a:nth-child(1) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    .wrapper {
        display: flex;
        align-items: center;
        width: calc(100 / 2) - 20px;
    }
    .title {
        font-size: 5rem;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
        margin: 0;
        margin-top: 3%;
    }
    .accent {
        font-size: 3rem;
        color: $primaryColor;
    }
    .menu {
        font-family: $secondaryFont;
        position: absolute;
        transform: rotate(270deg);
        transform-origin: left top 0;
        font-size: 1.5rem;
        text-transform: uppercase;
        color: $baseBackgroundColor;
        top: 16%;
    }
    .photo {
        margin: 0;
        padding: 3%;
        max-width: 45%;
    }
    .aboutMe {
        p {
            font-size: 2rem;
            line-height: 1.5;
            color: $secondaryColor;
            background: $primaryFontColor;
            margin: 0 30px;
            padding: 1% 0;
        }
    }
    .border {
        position: absolute;
        border: 6px solid $primaryColor;
        height: 38%;
        width: 37%;
        top: 20%;
        left: 53%;
        z-index: -1;
    }
    .line {
        position: absolute;
        border: 10px solid $primaryColor;
        opacity: 0.9;
        width: 30%;
        top: 3%;
        left: 35%;
        z-index: -1;
    }
}