.contact {
    background: $baseBackgroundColor;
    padding: 5% 0;
    position: relative;
    .accent {
        font-size: 3rem;
        color: $primaryColor;
    }
    .menu{
        font-family: $secondaryFont;
        position: absolute;
        transform: rotate(270deg);
        transform-origin: left top 0;
        font-size: 1.5rem;
        text-transform: uppercase;
        color: $primaryFontColor;
        top: 31%;
    }
    .wrapper {
        display: flex;
        justify-content: space-around;
    }
    .border {
        position: absolute;
        border: 6px solid $primaryColor;
        height: 50%;
        width: 30%;
        top: 7%;
        left: 10%;
        z-index: 0;
    }
    .contactMe {
        width: 45%;
        z-index: 1;
        background-color: $baseBackgroundColor;
        h2 {
            font-size: 4rem;
            letter-spacing: 1.2px;
            color: $primaryFontColor;
            margin: 0;
        }
        p {
            font-size: 1.8rem;
            color: $primaryFontColor;
        }
        .contactDetails {
            i {
                font-size: 3rem;
                color: $primaryColor;
                padding: 3% 0;
                transition: 0.35s;
                &:hover,
                &:focus {
                    transform: scale(1.2);
                    color: $primaryFontColor;
                }
            }
            a {
                font-size: 1.8rem;
                text-decoration: none;
                color: $primaryFontColor;
                margin-left: 2%;
            }
            p {
                margin-top: 5%;
            }
            .arrow {
                color: $primaryFontColor;
                font-size: 3rem;
                margin-left: 25%;
            }
            .qrCode {
                margin-left: 10%;
                border: 3px solid $primaryColor;
            }
            .resume {
                margin-left: 18%;
            }
        }
    }
    fieldset {
        border: none;
        padding: 0;
        width: 45%;
        legend {
            font-size: 3rem;
            font-weight: bold;
            color: $primaryFontColor;
        }
        form {
            display: flex;
            flex-direction: column;
            padding: 5% 0;
        }
        #username,
        #useremail,
        #message {
            font-size: 1.4rem;
            background: transparent;
            color: $primaryFontColor;
            margin: 3% 0;
            padding: 2% 2%;
            transition: 0.35s;
            &:hover,
            &:focus {
                border: 2px solid $primaryColor;
                box-shadow: 6px 6px 1px rgba(white, 0.1);
            }
        }
        #message {
            height: 150px;
        }
        input[type="submit"] {
            background-color: $primaryColor;
            color: $primaryFontColor;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 1.5px;
            border: none;
            padding: 2%;
            width: 25%;
            transition: 0.35s;
            &:hover {
                background-color: $secondaryColor;
                box-shadow: 6px 6px 1px rgba(white, 0.1);
                cursor: pointer;
            }
            &:focus {
                border: 1px solid $primaryColor;
            }
        }
    }
}

/* To hide the labels from the form */
.visually-hidden:not(:focus):not(:active) { 
    position: absolute;
    height: 1px; 
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap;
}