/* Footer Styles Starts Here */
footer {
    background-color:rgba(0, 0, 0, 0.9);
    .mainFooter {
        display: flex;
        justify-content: space-between;
    }
    p {
        font-size: 1.6rem;
        color: $primeryColor;
    }
    .white{
        color: $primeryFontColor;
    }
    i {
        font-size: 2.2rem;
        color: $primeryColor;
        padding: 10px;
        transition: 0.25s;
        &:hover,
        &:focus {
            transform: scale(1.4);
            color: $primeryFontColor;
        }
    }
    .social {
        align-self: center;
    }
    ul {
      display: flex;
      flex-direction: row;
      list-style: none;
    }
    li {
      text-decoration: none;
    }
}
/* Footer Styles Ends Here */