.portfolio {
    background-color: rgba(0, 0, 0, 0.2);
    position: relative;
    .title {
        font-size: 5rem;
        font-weight: bold;
        color: $secondaryColor;
        text-align: center;
        text-transform: uppercase;
        padding-top: 3%;
    }
    .wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, min-content);
        grid-template-areas:
        "yodaInfo yoda"
        "market marketInfo"
        "lateInfo late"
        "textile textileInfo";
        h2 {
            font-size: 3.2rem;
            margin-bottom: 3%;
            span {
                font-size: 2.6rem;
            }
        }
        ul {
            text-decoration: none;
            list-style: none;
            display: flex;
            justify-content: space-between;
            li {
                font-size: 1.8rem;
                border: 2px solid $primaryColor;
                padding: 1%;
            }
        }
        p {
            font-size: 2rem;
            margin: 5% 0;
        }
        .links {
            margin-top: 5%;
            a {
                font-size: 1.6rem;
                font-weight: bold;
                text-decoration: none;
                border: 2px solid $primaryColor;
                background-color: $primaryColor;
                color: $primaryFontColor;
                margin-right: 2%;
                padding: 2%;
                transition: 0.35s;
                &:hover,
                &:focus {
                    background-color: $secondaryColor;
                    border: 2px solid $secondaryColor;
                    box-shadow: 4px 4px 1px rgba(white, 0.8);
                }
            }
        }
    }
    .yoda {
        grid-area: yoda;
        padding: 6% 0;
    }
    .market {
        grid-area: market;
        padding: 6% 0;
    }
    .amILate {
        grid-area: late;
        padding: 6% 0;
    }
    .textile {
        grid-area: textile;
        padding: 6% 0;
    }
    .yodaInfo {
        grid-area: yodaInfo;
        margin-top: 10%;
        margin-right: 10%;
    }
    .marketInfo {
        grid-area: marketInfo;
        margin-top: 10%;
        margin-left: 10%;
    }
    .amILateInfo {
        grid-area: lateInfo;
        margin-top: 10%;
        margin-right: 10%;
    }
    .textileInfo {
        grid-area: textileInfo;
        margin-top: 10%;
        margin-left: 10%;
    }
    .title {
        font-family: $secondaryFont;
        font-size: 5rem;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
    }
    .accent {
        font-size: 5rem;
        color: $primaryColor;
    }
}