/* Responsive Starts Here */

@include mqTabletLand {
    .heroContainer {
        .hero {
            padding-top: 15%;
        }
        .headline {
            min-width: 55%;
        }
    } 
    .aboutMe {
        margin-top: 5%;
    }
    .skills {
        .logos img {
            width: 70%;
        }
    }
    .portfolio {
        .wrapper {
            ul {
                flex-wrap: wrap;
            }
            li {
                margin-top: 3%;
            }
            .yoda,
            .market,
            .amILate,
            .textile {
                padding: 18% 0;
            }
        }
    }
}
@media (max-width: 900px) {
    .navContainer {
        ul {
            width: 80%;
        }
    }
    .heroContainer {
        .hero {
            padding-top: 18%;
        }
    }
    .about {
        .wrapper {
            flex-direction: column;
        }
        .border {
            top: 54%;
        }
        .aboutMe {
            margin-bottom: 5%;
        }
    }
    .skills {
        .logos img {
            width: 81%;
        }
    }
    .portfolio {
        .wrapper {
            .yoda,
            .market,
            .amILate,
            .textile {
                padding: 22% 0;
            }
        }
    }
    .contact {
        .border {
            top: 5%;
            left: 10%;
            z-index: 0;
        }
        .contactMe {
            .contactDetails {
                .arrow {
                    margin-left: 38%;
                }
            }
        }
    }
}

@include mqTabletVert {
    .navContainer {
        .nav ul li {
            display: none;
        }
    }
    // Mobile Nav Starts Here //
    nav.mobileNav {
        display: block;
        input[type="checkbox"]:checked + ul.navMobile {
            right: 0;
        }
        input[type="checkbox"] {
            display: none;
        }
        label[for="toggleMenu"] {
            position: fixed;
            top: 12px;
            right: 20px;
            color: $primaryColor;
            z-index: 10;
        }
        i {
            font-size: 3.5rem;
        }
    }
    .navMobile {
        margin: 0;
        display: flex;
        flex-direction: column;
        background-color: rgba($primaryColor, 0.8);
        list-style: none;
        position: fixed;
        z-index: 10;
        width: 150px;
        right: -150px;
        height: 225px;
        top: 6%;
        padding: 2%;
        border-radius: 15px 0 15px 15px;
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
        li {
            padding: 8% 0;
            a {
                font-size: 1.6rem;
                color: $primaryFontColor;
                text-decoration: none;
                text-transform: uppercase;
                display: inline-block;
                border-bottom: 3px solid transparent;
                -webkit-transition: all 0.3s;
                transition: all 0.25s;
                &:hover,
                &:focus {
                    border-bottom: 3px solid $baseBackgroundColor;
                }
            }
        }
    }
    // End of mobile menu //

    .heroContainer {
        .hero {
            padding-top: 24%;
        }
        .name {
            font-size: 3.5rem;
        }
        .headline {
            margin-top: 5%;
            min-width: 70%;
        }
    }
    .about {
        .border {
            top: 46%;
        }
    }
    .skills {
        .logos {
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(3, min-content);
            grid-template-areas:
            "html css sass mobile"
            "vsCode js jq react"
            "firebase github git accessible";
            img {
                width: 62%;
            }
        }
    }
    .portfolio {
        .wrapper {
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(8, min-content);
            grid-template-areas:
            "yoda"
            "yodaInfo"
            "market"
            "marketInfo"
            "late"
            "lateInfo"
            "textile" 
            "textileInfo";
            padding-bottom: 10%;
            .yoda,
            .market,
            .amILate,
            .textile {
                padding: 10% 0;
            }
            .yodaInfo,
            .marketInfo,
            .amILateInfo,
            .textileInfo {
                margin: 0;
            }
        }
    }
    .contact {
        .wrapper {
            flex-direction: column;
        }
        .border {
            width: 80%;
            height: 40%;
            top: 2%;
            left: 13%;
        }
        .contactMe {
            width: 100%;
            p {
                padding: 2% 0;
            }
            .contactDetails {
                p {
                    margin-top: 0;
                }
                .arrow {
                    margin-left: 25%;
                }
            }   
        }
        fieldset {
            width: 90%; 
            legend {
                padding-top: 5%;
            }
        }
    }
}

@include mqMobile {
    .navContainer {
        min-height: 6vh;
    }
    nav.mobileNav {
        label[for="toggleMenu"] {
            top: 8px;
            right: 15px;
        }
    }
    .heroContainer {
        .hero {
            padding-top: 39%;
        }
        .name {
            font-size: 3rem;
            padding-top: 15%;
        }
        .headline {
            width: 100%;
        }
    }
    .about {
        .title {
            font-size: 4rem;
        }
        .border {
            top: 34%;
        }
        .photo {
            max-width: 65%;
        }
    }
    .skills {
        .title {
            font-size: 4rem;
        }
        .logos {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(4, min-content);
            grid-template-areas:
            "html css sass" 
            "mobile vsCode js"
            "jq react firebase"
            "github git accessible";
            img {
                width: 76%;
            }
        }
    }
    .portfolio {
        .title {
            font-size: 4rem;
        }
        .yodaInfo,
        .marketInfo,
        .textileInfo,
        .amILateInfo {
            h2,
            .links {
                text-align: center;
            }
            ul {
                justify-content: space-around;
            }
        }
    }
    .contact {
        .border {
            top: 1%;
        }
        .contactMe {
            .contactDetails {
                .qrCode {
                    margin: 0 auto;
                }
                .arrow {
                    margin-left: 46%;
                }
                .resume {
                    margin-left: 35%;
                }
            }
        }
        fieldset {
            width: 100%;
        }
    }
    footer {
        .mainFooter {
            flex-direction: column;
            p {
                padding: 2% 0;
            }
        }
    }
}

@include mqMobilePlus {
    .navContainer {
        min-height: 7vh;
    }
    ul.navMobile {
        top: 7%;
    }
    .heroContainer {
        .hero {
            padding-top: 36%;
        }
        .name {
            font-size: 2rem;
        }
        .headline {
            font-size: 1.6rem;
        }
    }
    .about {
        .border {
            top: 28%;
        }
    }
    .skills {
        .logos {
            img {
                width: 89%;
            }
        }
    }
    .contact {
        fieldset {
            #username,
            #useremail,
            #message {
                border: 2px solid $primaryColor;
            }
        }
    }
}

@include mqMobileX {
    .heroContainer {
        .headline {
            font-size: 1.4rem;
        }
    }
    .about {
        .photo {
            max-width: 79%;
        }
        .border {
            top: 32%;
        }
        .aboutMe {
            p {
                font-size: 1.8rem;
            }
        }
    }
    .skills {
        .logos {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(6, min-content);
            grid-template-areas:
            "html css"
            "sass mobile"
            "vsCode js"
            "jq react" 
            "firebase github"
            "git accessible";
            img {
                width: 64%;
            }
        }
    }
    .portfolio {
        .title {
            font-size: 3.5rem;
        }
        .wrapper {
            h2 {
                font-size: 3rem;
            }
            p {
                font-size: 1.8rem;
            }
        }
    }
    .contact {
        .contactMe {
            .contactDetails a {
                font-size: 1.6rem;
            }
        }
        .wrapper {
            padding-left: 2%;
        }
        fieldset {
            legend {
                font-size: 2.2rem;
            }
        }
    }
    .mainFooter {
        p {
            text-align: center;
        }
    }
}

@include mqMobileSE {
    nav.mobileNav {
        label[for="toggleMenu"] {
            top: 1%;
        }
        i {
            font-size: 3rem;
        }
    }
    .heroContainer {
        .hero {
            padding-top: 24%;
        }
        .logo img {
            height: 90px;
            width: 90px;
        }
        .name h1 {
            font-size: 3.2rem;
        }
        .headline {
            font-size: 1.2rem;
        }
    }
    .about {
        .title {
            font-size: 3.5rem;
        }
    }
    .skills {
        .title {
            font-size: 3.5rem;
        }
        .logos {
            img {
                width: 76%;
            }
        }
    }
    .portfolio {
        .title {
            font-size: 3rem;
        }
        .wrapper h2 {
            font-size: 2.5rem;
        }
    }
    .contact {
        .border {
            top: 0.5%;
        }
        .contactMe {
            h2 {
                font-size: 3.5rem;
            }
            .contactDetails a {
                font-size: 1.4rem;
            }
        }
        fieldset {
            legend {
                font-size: 2rem;
            }
        }
    }
}