header {
    .heroContainerThanks {
        min-height: 95vh;
        background-color: rgba(0, 0, 0, 0.5);

        /* Social Icons */
        .social {
            position: absolute;
            top: 35%;
            left: 0%;
            ul {
                display: flex;
                flex-direction: column;
                list-style: none;
                position: fixed;
                z-index: 3;
                li {
                    position: relative;
                    text-decoration: none;
                    transition: all 0.5s 0.3s ease;
                    &:hover .fa-linkedin {
                        color: #2867b2;
                    }
                    &:hover .fa-twitter-square {
                        color: #1da1f2;
                    }
                    &:hover .fa-github-square {
                        color: #211F1F;
                    }
                    &:hover .fa-medium {
                        color: #000;
                    }
                    i {
                        font-size: 3.2rem;
                        color: $primaryColor;
                        background-color: #fff;
                        border-radius: 4px;
                        line-height: 29px;
                        margin: 15px;
                        transition: all 0.6s ease-in-out;
                    }
                    .slider {
                        content: "";
                        position: absolute;
                        top: 15px;
                        left: 48px;
                        width: 0px;
                        height: 29px;
                        border-radius: 3px;
                        transition: all 0.5s 0.3s ease;
                        p {
                            font-size: 1.6rem;
                            font-weight: bold;
                            text-transform: uppercase;
                            text-align: center;
                            line-height: 30px;
                            color: $primaryFontColor;
                            opacity: 0;
                            transition: all 0.6s ease;
                        }
                    }
                    &:hover .slider {
                        width: 140px;
                        transition: all 0.5s ease;
                        .linkedin {
                            background: #2867b2;
                            border-radius: 3px;
                        }
                        .twitter {
                            background: #1da1f2;
                            border-radius: 3px;
                        }
                        .github {
                           background: #211F1F;
                           border-radius: 3px;
                        }
                        .medium {
                           background: #000;
                           border-radius: 3px;
                        }
                    }
                    &:hover .slider p {
                        opacity: 1;
                        transition: all 1s 0.2s ease;
                    }
                }
            }
        }

        /* Hero Section */
        .hero {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(4, min-content);
            grid-template-areas:
            "logo"
            "name"
            "headline"
            "scroll";
            padding-top: 300px;
            .logo {
                grid-area: logo;
                img {
                    height: 100px;
                    width: 100px;
                    margin: 0 auto;
                }
            }
            .name {
                grid-area: name;
                font-size: 7rem;
                font-weight: bold;
                text-align: center;
                text-transform: uppercase;
                color: $primaryFontColor;
                margin: 0 auto;
                padding-top: 80px;
            }
            .headline {
                grid-area: headline;
                font-family: $secondaryFont;
                font-size: 3rem;
                letter-spacing: 2px;
                text-align: center;
                color: $primaryFontColor;
                margin: 0 auto;
                padding: 10px;
                a {
                    color: $primaryFontColor;
                    text-decoration: none;
                }
            }

            /* Scroll Animation */
            .scroll {
                grid-area: scroll;
                .iconScroll,
                .iconScroll:before {
                    position: absolute;
                    left: 49%;
                }
                .iconScroll {
                    top: 90%;
                    width: 35px;
                    height: 65px;
                    box-shadow: inset 0 0 0 1px $primaryFontColor;
                    border-radius: 25px;
                }
                .iconScroll:before {
                    content: '';
                    top: 8px;
                    width: 8px;
                    height: 8px;
                    background: $primaryColor;
                    border-radius: 4px;
                    margin-left: -4px;
                    animation-duration: 1.5s;
                    animation-iteration-count: infinite;
                    animation-name: scroll;
                }
            
                @keyframes scroll {
                    0% {
                        opacity: 1;
                    }
                    100% {
                        opacity: 0;
                        transform: translateY(46px);
                    }
                }
            }
        }
    }
}
/* Header Styles Ends Here */

.navContainer {
    a {
        font-size: 1.6rem;
        color: $primaryFontColor;
        text-transform: uppercase;
        text-decoration: none;
        padding: 5px;
        i {
            color: $primaryColor;
        }
    }
}


// Media query

@media (max-width: 375px) {
    header {
        .navContainer {
            .nav {
                a {
                    font-size: 1.5rem;
                };
            }
        }
        .heroContainerThanks {
            min-height: 80vh;
            .social {
                display: none;
            }
            .hero {
                padding-top: 130px;
                .logo img {
                    height: 90px;
                    width: 90px;
                }
                .name {
                    font-size: 2.8rem;
                    margin-top: 15px;
                }
                .headline {
                    font-size: 2rem;
                }
            }
        }
    }
}