// Colors
$primeryColor: #ee0149;
$secondaryColor: #000;

// // Background Color
$baseBackgroundColor: #4b4b4b;

// // Fonts Color
$primeryFontColor: #fff;

// Font Family
$primeryFont: 'Arimo', sans-serif;
$secondaryFont: 'Libre Baskerville', serif;