// Colors
$primaryColor: #e40b0b;
$secondaryColor: #000;

// // Background Color
$baseBackgroundColor: #161616;

// // Fonts Color
$primaryFontColor: #fff;

// Font Family
$primaryFont: 'Arimo', sans-serif;
$secondaryFont: 'Aleo', serif;