// Colors
$primaryColor: #ee0149;
$secondaryColor: #000;

// // Background Color
$baseBackgroundColor: #4b4b4b;

// // Fonts Color
$primaryFontColor: #fff;

// Font Family
$primaryFont: 'Arimo', sans-serif;
$secondaryFont: 'Libre Baskerville', serif;