html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

/* Global Styles Start Here */
html {
  font-size: 65.2%;
  scroll-behavior: smooth;
}

body {
  font-family: "Arimo", sans-serif;
}

.wrapper {
  max-width: 1280px;
  width: 80%;
  margin: 0 auto;
}

img {
  max-width: 100%;
  display: block;
}

h1,
h2,
p,
ul,
li,
a {
  margin: 0;
  padding: 0;
}

/* Global Styles Ends Here */
/* Skip-line for accessibility */
.skipLink {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: #fff;
  color: #000;
}

.skipLink:focus {
  left: 0;
}

/* - */
/* Header Styles Start Here */
header {
  background-image: url(../assets/headerBackgroung.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
}

/* Nav Styles Start Here */
.navContainer {
  background-color: rgba(0, 0, 0, 0.9);
}

.navContainer .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 5vh;
}

.navContainer p {
  font-size: 3.2rem;
  font-style: italic;
  color: #fff;
  margin: 10px;
}

.navContainer span {
  color: #ee0149;
  font-size: 2.7rem;
}

.navContainer img {
  min-height: 6%;
  max-width: 60px;
  background-size: cover;
}

.navContainer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  width: 50%;
}

.navContainer li {
  font-size: 1.4rem;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.navContainer a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  border: 3px solid transparent;
  padding: 5px;
  -webkit-transition: 0.35s;
  transition: 0.35s;
}

.navContainer a:hover, .navContainer a:focus {
  border: 3px solid #ee0149;
}

.navContainer .current {
  border-bottom: 3px solid #ee0149;
}

/* Nav li Animation */
@-webkit-keyframes hvr-wobble-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes hvr-wobble-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.hvr-wobble-vertical {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.hvr-wobble-vertical:hover,
.hvr-wobble-vertical:focus,
.hvr-wobble-vertical:active {
  -webkit-animation-name: hvr-wobble-vertical;
  animation-name: hvr-wobble-vertical;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

/* Nav Styles End Here  */
.mobileNav {
  display: none;
}

/*  */
/* Hero Container Styles Start Here */
.heroContainer {
  min-height: 95vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.heroContainer .hero {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  -ms-grid-rows: (min-content)[4];
      grid-template-rows: repeat(4, -webkit-min-content);
      grid-template-rows: repeat(4, min-content);
      grid-template-areas: "logo" "name" "headline" "scroll";
  padding-top: 10%;
}

.heroContainer .logo {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: logo;
}

.heroContainer .logo img {
  height: 100px;
  width: 100px;
  margin: 0 auto;
}

.heroContainer .name {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: name;
  font-size: 4rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  text-shadow: 2px 2px #000;
  margin: 0 auto;
  padding-top: 5%;
}

.heroContainer .headline {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: headline;
  font-family: "Libre Baskerville", serif;
  font-size: 2.1rem;
  color: #fff;
  letter-spacing: 2px;
  text-align: center;
  text-shadow: 2px 2px #000;
  min-width: 40%;
  border: 6px solid #ee0149;
  margin: 0 auto;
  padding: 1%;
}

.heroContainer .headline a {
  color: #fff;
  text-decoration: none;
}

/* Scroll Animation */
.scroll {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: scroll;
}

.iconScroll,
.iconScroll:before {
  position: absolute;
  left: 48.5%;
}

.iconScroll {
  width: 35px;
  height: 65px;
  top: 85%;
  -webkit-box-shadow: inset 0 0 0 1px #fff;
          box-shadow: inset 0 0 0 1px #fff;
  border-radius: 25px;
}

.iconScroll:before {
  content: '';
  width: 8px;
  height: 8px;
  background: #ee0149;
  margin-left: -4px;
  top: 8px;
  border-radius: 4px;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: scroll;
          animation-name: scroll;
}

@-webkit-keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(46px);
            transform: translateY(46px);
  }
}

@keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(46px);
            transform: translateY(46px);
  }
}

/* Hero Container Styles Ends Here */
/* Header Styles Ends Here */
.about {
  min-height: 90vh;
  position: relative;
}

.about .arrowUp {
  position: fixed;
  right: 2%;
  bottom: 8%;
  display: none;
  z-index: 2;
}

.about .arrowUp i {
  font-size: 3rem;
  color: #ee0149;
}

.about .arrowUp a {
  font-size: 1.5rem;
  text-decoration: none;
  color: #000;
}

.about .arrowUp a:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc(100 / 2)-20px;
}

.about .title {
  font-size: 5rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-top: 3%;
}

.about .accent {
  font-size: 3rem;
  color: #ee0149;
}

.about .menu {
  font-family: "Libre Baskerville", serif;
  position: absolute;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  -webkit-transform-origin: left top 0;
          transform-origin: left top 0;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #4b4b4b;
  top: 16%;
}

.about .photo {
  margin: 0;
  padding: 3%;
  max-width: 45%;
}

.about .aboutMe p {
  font-size: 2rem;
  line-height: 1.5;
  color: #000;
  background: #fff;
  margin: 0 30px;
  padding: 1% 0;
}

.about .border {
  position: absolute;
  border: 6px solid #ee0149;
  height: 38%;
  width: 37%;
  top: 20%;
  left: 53%;
  z-index: -1;
}

.skills {
  background: #4b4b4b;
  position: relative;
}

.skills .title {
  font-size: 5rem;
  font-weight: bold;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  padding-top: 3%;
}

.skills .accent {
  font-size: 3rem;
  color: #ee0149;
}

.skills .menu {
  font-family: "Libre Baskerville", serif;
  position: absolute;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  -webkit-transform-origin: left top 0;
          transform-origin: left top 0;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #fff;
  top: 25%;
}

.skills .logos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  -ms-grid-rows: (min-content)[2];
      grid-template-rows: repeat(2, -webkit-min-content);
      grid-template-rows: repeat(2, min-content);
      grid-template-areas: "html css sass mobile vsCode js" "jq react firebase github git accessible";
  list-style: none;
  padding-left: 0%;
}

.skills .logos .html {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: html;
}

.skills .logos .css {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: css;
}

.skills .logos .sass {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: sass;
}

.skills .logos .mobile {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: mobile;
}

.skills .logos .vsCode {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: vsCode;
}

.skills .logos .javaScript {
  -ms-grid-row: 1;
  -ms-grid-column: 6;
  grid-area: js;
}

.skills .logos .jQuery {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: jq;
}

.skills .logos .react {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: react;
}

.skills .logos .firebase {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: firebase;
}

.skills .logos .github {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  grid-area: github;
}

.skills .logos .git {
  -ms-grid-row: 2;
  -ms-grid-column: 5;
  grid-area: git;
}

.skills .logos .accessible {
  -ms-grid-row: 2;
  -ms-grid-column: 6;
  grid-area: accessible;
}

.skills .logos .html,
.skills .logos .css,
.skills .logos .sass,
.skills .logos .mobile,
.skills .logos .vsCode,
.skills .logos .javaScript,
.skills .logos .jQuery,
.skills .logos .react,
.skills .logos .firebase,
.skills .logos .github,
.skills .logos .git,
.skills .logos .accessible {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 15% 0;
  padding: 15%;
}

.skills .logos p {
  font-size: 1.8rem;
  color: #fff;
  text-decoration: none;
  text-align: center;
  margin-top: 10px;
}

.skills .logos a {
  text-align: center;
}

.skills .logos i {
  font-size: 7rem;
  color: #ee0149;
}

.skills .logos img {
  width: 50%;
  margin: 0 auto;
  margin-bottom: 6%;
}

.skills .logos .responsive {
  width: 100px;
}

.skills .logos .devicon-git-plain path {
  fill: #ee0149;
  list-style: none;
}

/* Skills Icons Hover Effect */
@-webkit-keyframes hvr-icon-pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

@keyframes hvr-icon-pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

.hvr-icon-pulse-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.hvr-icon-pulse-grow .hvr-icon {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-icon-pulse-grow:hover .hvr-icon,
.hvr-icon-pulse-grow:focus .hvr-icon,
.hvr-icon-pulse-grow:active .hvr-icon {
  -webkit-animation-name: hvr-icon-pulse-grow;
  animation-name: hvr-icon-pulse-grow;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

/* Skills Icons Hover Effect End */
/* Skills Styles Ends Here */
.portfolio {
  background-color: rgba(0, 0, 0, 0.2);
  position: relative;
}

.portfolio .title {
  font-size: 5rem;
  font-weight: bold;
  color: #000;
  text-align: center;
  text-transform: uppercase;
  padding-top: 3%;
}

.portfolio .wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (min-content)[3];
      grid-template-rows: repeat(3, -webkit-min-content);
      grid-template-rows: repeat(3, min-content);
      grid-template-areas: "yodaInfo yoda" "market marketInfo" "lateInfo late" "textile textileInfo";
}

.portfolio .wrapper h2 {
  font-size: 3.2rem;
  margin-bottom: 3%;
}

.portfolio .wrapper h2 span {
  font-size: 2.6rem;
}

.portfolio .wrapper ul {
  text-decoration: none;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.portfolio .wrapper ul li {
  font-size: 1.8rem;
  border: 2px solid #ee0149;
  padding: 1%;
}

.portfolio .wrapper p {
  font-size: 2rem;
  margin: 5% 0;
}

.portfolio .wrapper .links {
  margin-top: 5%;
}

.portfolio .wrapper .links a {
  font-size: 1.6rem;
  text-decoration: none;
  border: 2px solid #ee0149;
  background-color: #ee0149;
  color: #fff;
  margin-right: 2%;
  padding: 2%;
  -webkit-transition: 0.35s;
  transition: 0.35s;
}

.portfolio .wrapper .links a:hover, .portfolio .wrapper .links a:focus {
  background-color: #000;
  border: 2px solid #000;
  -webkit-box-shadow: 4px 4px 1px rgba(255, 255, 255, 0.8);
          box-shadow: 4px 4px 1px rgba(255, 255, 255, 0.8);
}

.portfolio .yoda {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: yoda;
  padding: 6% 0;
}

.portfolio .market {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: market;
  padding: 6% 0;
}

.portfolio .amILate {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: late;
  padding: 6% 0;
}

.portfolio .textile {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: textile;
  padding: 6% 0;
}

.portfolio .yodaInfo {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: yodaInfo;
  margin-top: 10%;
  margin-right: 10%;
}

.portfolio .marketInfo {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: marketInfo;
  margin-top: 10%;
  margin-left: 10%;
}

.portfolio .amILateInfo {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: lateInfo;
  margin-top: 10%;
  margin-right: 10%;
}

.portfolio .textileInfo {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: textileInfo;
  margin-top: 10%;
  margin-left: 10%;
}

.portfolio .title {
  font-size: 5rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.portfolio .accent {
  font-size: 3rem;
  color: #ee0149;
}

.portfolio .menu {
  font-family: "Libre Baskerville", serif;
  position: absolute;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  -webkit-transform-origin: left top 0;
          transform-origin: left top 0;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #4b4b4b;
  top: 10%;
}

.contact {
  background: #4b4b4b;
  padding: 5% 0;
  position: relative;
}

.contact .accent {
  font-size: 3rem;
  color: #ee0149;
}

.contact .menu {
  font-family: "Libre Baskerville", serif;
  position: absolute;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  -webkit-transform-origin: left top 0;
          transform-origin: left top 0;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #fff;
  top: 31%;
}

.contact .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.contact .border {
  position: absolute;
  border: 6px solid #ee0149;
  height: 50%;
  width: 30%;
  top: 7%;
  left: 10%;
  z-index: 0;
}

.contact .contactMe {
  width: 45%;
  z-index: 1;
  background-color: #4b4b4b;
}

.contact .contactMe h2 {
  font-size: 4rem;
  letter-spacing: 1.2px;
  color: #fff;
  margin: 0;
}

.contact .contactMe p {
  font-size: 1.8rem;
  color: #fff;
}

.contact .contactMe .contactDetails i {
  font-size: 3rem;
  color: #ee0149;
  padding: 3% 0;
  -webkit-transition: 0.35s;
  transition: 0.35s;
}

.contact .contactMe .contactDetails i:hover, .contact .contactMe .contactDetails i:focus {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  color: #fff;
}

.contact .contactMe .contactDetails a {
  font-size: 1.8rem;
  text-decoration: none;
  color: #fff;
  margin-left: 2%;
}

.contact .contactMe .contactDetails p {
  margin-top: 5%;
}

.contact .contactMe .contactDetails .arrow {
  color: #fff;
  font-size: 3rem;
  margin-left: 25%;
}

.contact .contactMe .contactDetails .qrCode {
  margin-left: 10%;
  border: 3px solid #ee0149;
}

.contact .contactMe .contactDetails .resume {
  margin-left: 18%;
}

.contact fieldset {
  border: none;
  padding: 0;
  width: 45%;
}

.contact fieldset legend {
  font-size: 3rem;
  font-weight: bold;
  color: #fff;
}

.contact fieldset form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5% 0;
}

.contact fieldset #username,
.contact fieldset #useremail,
.contact fieldset #message {
  font-size: 1.4rem;
  background: transparent;
  color: #fff;
  margin: 3% 0;
  padding: 2% 2%;
  -webkit-transition: 0.35s;
  transition: 0.35s;
}

.contact fieldset #username:hover, .contact fieldset #username:focus,
.contact fieldset #useremail:hover,
.contact fieldset #useremail:focus,
.contact fieldset #message:hover,
.contact fieldset #message:focus {
  border: 2px solid #ee0149;
  -webkit-box-shadow: 6px 6px 1px rgba(255, 255, 255, 0.1);
          box-shadow: 6px 6px 1px rgba(255, 255, 255, 0.1);
}

.contact fieldset #message {
  height: 150px;
}

.contact fieldset input[type="submit"] {
  background-color: #ee0149;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  border: none;
  padding: 2%;
  width: 25%;
  -webkit-transition: 0.35s;
  transition: 0.35s;
}

.contact fieldset input[type="submit"]:hover {
  background-color: #000;
  -webkit-box-shadow: 6px 6px 1px rgba(255, 255, 255, 0.1);
          box-shadow: 6px 6px 1px rgba(255, 255, 255, 0.1);
}

.contact fieldset input[type="submit"]:focus {
  border: 1px solid #ee0149;
}

/* To hide the labels from the form */
.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}

/* Footer Styles Starts Here */
footer {
  background-color: rgba(0, 0, 0, 0.9);
}

footer .mainFooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer p {
  font-size: 1.6rem;
  color: #ee0149;
}

footer .white {
  color: #fff;
}

footer i {
  font-size: 2.2rem;
  color: #ee0149;
  padding: 10px;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

footer i:hover, footer i:focus {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
  color: #fff;
}

footer .social {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
}

footer li {
  text-decoration: none;
}

/* Footer Styles Ends Here */
/* Responsive Starts Here */
@media (max-width: 1024px) {
  .heroContainer .hero {
    padding-top: 15%;
  }
  .heroContainer .headline {
    min-width: 55%;
  }
  .aboutMe {
    margin-top: 5%;
  }
  .skills .logos img {
    width: 70%;
  }
  .skills .menu {
    top: 30%;
  }
  .portfolio .menu {
    top: 15%;
  }
  .portfolio .wrapper ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .portfolio .wrapper li {
    margin-top: 3%;
  }
  .portfolio .wrapper .yoda,
  .portfolio .wrapper .market,
  .portfolio .wrapper .amILate,
  .portfolio .wrapper .textile {
    padding: 18% 0;
  }
}

@media (max-width: 900px) {
  .navContainer ul {
    width: 80%;
  }
  .heroContainer .hero {
    padding-top: 18%;
  }
  .about .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about .border {
    top: 54%;
  }
  .about .aboutMe {
    margin-bottom: 5%;
  }
  .skills .logos img {
    width: 81%;
  }
  .portfolio .wrapper .yoda,
  .portfolio .wrapper .market,
  .portfolio .wrapper .amILate,
  .portfolio .wrapper .textile {
    padding: 22% 0;
  }
  .contact .border {
    top: 5%;
    left: 10%;
    z-index: 0;
  }
  .contact .contactMe .contactDetails .arrow {
    margin-left: 38%;
  }
}

@media (max-width: 768px) {
  .navContainer .nav ul li {
    display: none;
  }
  nav.mobileNav {
    display: block;
  }
  nav.mobileNav input[type="checkbox"]:checked + ul.navMobile {
    right: 0;
  }
  nav.mobileNav input[type="checkbox"] {
    display: none;
  }
  nav.mobileNav label[for="toggleMenu"] {
    position: fixed;
    top: 1%;
    right: 5%;
    color: #ee0149;
    z-index: 10;
  }
  nav.mobileNav i {
    font-size: 3.5rem;
  }
  nav.mobileNav i:hover, nav.mobileNav i:focus {
    color: #fff;
  }
  .navMobile {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: #ee0149;
    background-color: rgba(238, 1, 73, 0.8);
    list-style: none;
    position: fixed;
    z-index: 10;
    width: 150px;
    right: -150px;
    height: 23%;
    top: 6%;
    padding: 2%;
    border-radius: 15px 0 15px 15px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .navMobile li {
    padding: 8% 0;
  }
  .navMobile li a {
    font-size: 1.6rem;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    border-bottom: 3px solid transparent;
    -webkit-transition: all 0.3s;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
  }
  .navMobile li a:hover, .navMobile li a:focus {
    border-bottom: 3px solid #4b4b4b;
  }
  .heroContainer .hero {
    padding-top: 24%;
  }
  .heroContainer .name {
    font-size: 3.5rem;
  }
  .heroContainer .headline {
    margin-top: 5%;
    min-width: 70%;
  }
  .about .menu {
    top: 14%;
  }
  .about .border {
    top: 46%;
  }
  .skills .menu {
    top: 20%;
  }
  .skills .logos {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    -ms-grid-rows: (min-content)[3];
        grid-template-rows: repeat(3, -webkit-min-content);
        grid-template-rows: repeat(3, min-content);
        grid-template-areas: "html css sass mobile" "vsCode js jq react" "firebase github git accessible";
  }
  .skills .logos img {
    width: 62%;
  }
  .portfolio .menu {
    top: 5%;
  }
  .portfolio .wrapper {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    -ms-grid-rows: (min-content)[8];
        grid-template-rows: repeat(8, -webkit-min-content);
        grid-template-rows: repeat(8, min-content);
        grid-template-areas: "yoda" "yodaInfo" "market" "marketInfo" "late" "lateInfo" "textile"  "textileInfo";
    padding-bottom: 10%;
  }
  .portfolio .wrapper .yoda,
  .portfolio .wrapper .market,
  .portfolio .wrapper .amILate,
  .portfolio .wrapper .textile {
    padding: 10% 0;
  }
  .portfolio .wrapper .yodaInfo,
  .portfolio .wrapper .marketInfo,
  .portfolio .wrapper .amILateInfo,
  .portfolio .wrapper .textileInfo {
    margin: 0;
  }
  .contact .menu {
    top: 15%;
  }
  .contact .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact .border {
    width: 80%;
    height: 40%;
    top: 2%;
    left: 13%;
  }
  .contact .contactMe {
    width: 100%;
  }
  .contact .contactMe p {
    padding: 2% 0;
  }
  .contact .contactMe .contactDetails p {
    margin-top: 0;
  }
  .contact .contactMe .contactDetails .arrow {
    margin-left: 25%;
  }
  .contact fieldset {
    width: 90%;
  }
  .contact fieldset legend {
    padding-top: 5%;
  }
}

@media (max-width: 480px) {
  .navContainer {
    min-height: 6vh;
  }
  ul.navMobile {
    height: 25%;
    top: 7%;
  }
  .heroContainer .hero {
    padding-top: 39%;
  }
  .heroContainer .name {
    padding-top: 15%;
  }
  .heroContainer .headline {
    width: 100%;
  }
  .about .border {
    top: 34%;
  }
  .about .photo {
    max-width: 65%;
  }
  .skills .logos {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: (min-content)[4];
        grid-template-rows: repeat(4, -webkit-min-content);
        grid-template-rows: repeat(4, min-content);
        grid-template-areas: "html css sass"  "mobile vsCode js" "jq react firebase" "github git accessible";
  }
  .skills .logos img {
    width: 76%;
  }
  .portfolio .menu {
    top: 8%;
  }
  .portfolio .yodaInfo h2,
  .portfolio .yodaInfo .links,
  .portfolio .marketInfo h2,
  .portfolio .marketInfo .links,
  .portfolio .textileInfo h2,
  .portfolio .textileInfo .links,
  .portfolio .amILateInfo h2,
  .portfolio .amILateInfo .links {
    text-align: center;
  }
  .portfolio .yodaInfo ul,
  .portfolio .marketInfo ul,
  .portfolio .textileInfo ul,
  .portfolio .amILateInfo ul {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .contact .menu {
    top: 20%;
  }
  .contact .border {
    top: 1%;
  }
  .contact .contactMe .contactDetails .qrCode {
    margin: 0 auto;
  }
  .contact .contactMe .contactDetails .arrow {
    margin-left: 46%;
  }
  .contact .contactMe .contactDetails .resume {
    margin-left: 35%;
  }
  .contact fieldset {
    width: 100%;
  }
  footer .mainFooter {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .mainFooter p {
    padding: 2% 0;
  }
}

@media (max-width: 415px) {
  .navContainer {
    min-height: 8vh;
  }
  ul.navMobile {
    height: 32%;
    top: 9%;
  }
  .heroContainer .hero {
    padding-top: 36%;
  }
  .heroContainer .name {
    font-size: 2rem;
  }
  .about .border {
    top: 28%;
  }
  .skills .logos img {
    width: 89%;
  }
}

@media (max-width: 375px) {
  .navContainer {
    min-height: 7vh;
  }
  ul.navMobile {
    height: 29%;
    top: 8%;
  }
  .about .menu {
    top: 10%;
  }
  .about .photo {
    max-width: 79%;
  }
  .about .border {
    top: 32%;
  }
  .about .aboutMe p {
    font-size: 1.8rem;
  }
  .skills .menu {
    top: 10%;
  }
  .skills .logos {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (min-content)[6];
        grid-template-rows: repeat(6, -webkit-min-content);
        grid-template-rows: repeat(6, min-content);
        grid-template-areas: "html css" "sass mobile" "vsCode js" "jq react"  "firebase github" "git accessible";
  }
  .skills .logos img {
    width: 64%;
  }
  .portfolio .wrapper p {
    font-size: 1.8rem;
  }
  .contact .menu {
    top: 18%;
  }
  .contact .wrapper {
    padding-left: 2%;
  }
  .contact fieldset legend {
    font-size: 2.2rem;
  }
  .mainFooter p {
    text-align: center;
  }
}

@media (max-width: 320px) {
  nav.mobileNav label[for="toggleMenu"] {
    top: 1%;
  }
  nav.mobileNav i {
    font-size: 3rem;
  }
  ul.navMobile {
    height: 40%;
  }
  .heroContainer .hero {
    padding-top: 24%;
  }
  .about .title {
    font-size: 4rem;
  }
  .skills .title {
    font-size: 4rem;
  }
  .skills .logos img {
    width: 76%;
  }
  .portfolio .title {
    font-size: 4rem;
  }
  .contact .border {
    top: 0.5%;
  }
  .contact .contactMe h2 {
    font-size: 3.5rem;
  }
}

/* Header Styles Start Here */
header {
  background-image: url(../assets/headerBackgroung.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  min-height: 94vh;
}

/* Nav Styles Start Here */
.navContainer {
  background-color: rgba(0, 0, 0, 0.9);
}

.navContainer .nav {
  min-height: 5vh;
}

.navContainer a {
  font-size: 1.8rem;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  padding: 5px;
}

.navContainer a i {
  color: #ee0149;
}

.mobileNav {
  display: none;
}

/*  */
/* Hero Container Styles Start Here */
.heroContainerTY {
  min-height: 90vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.heroContainerTY .hero {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  -ms-grid-rows: (min-content)[4];
      grid-template-rows: repeat(4, -webkit-min-content);
      grid-template-rows: repeat(4, min-content);
      grid-template-areas: "logo" "name" "headline" "scroll";
  padding-top: 10%;
}

.heroContainerTY .logo {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: logo;
}

.heroContainerTY .logo img {
  height: 100px;
  width: 100px;
  margin: 0 auto;
}

.heroContainerTY .name {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: name;
  font-size: 4rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  text-shadow: 2px 2px #000;
  margin: 0 auto;
  padding-top: 5%;
}

.heroContainerTY .headline {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: headline;
  font-family: "Libre Baskerville", serif;
  font-size: 2.1rem;
  color: #fff;
  letter-spacing: 2px;
  text-align: center;
  text-shadow: 2px 2px #000;
  min-width: 40%;
  border: 6px solid #ee0149;
  margin: 0 auto;
  padding: 1%;
}

.heroContainerTY .headline a {
  color: #fff;
  text-decoration: none;
}

/* Hero Container Styles Ends Here */
/* Header Styles Ends Here */
/* Footer Styles Starts Here */
footer {
  background-color: rgba(0, 0, 0, 0.9);
  min-height: 4vh;
}

footer .mainFooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer p {
  font-size: 1.6rem;
  color: #ee0149;
}

footer .white {
  color: #fff;
}

footer i {
  font-size: 2.2rem;
  color: #ee0149;
  padding: 10px;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

footer i:hover, footer i:focus {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  color: #fff;
}

footer .social {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
}

footer li {
  text-decoration: none;
}

/* Footer Styles Ends Here */
