html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

/* Global Styles Start Here */
html {
  font-size: 65.2%;
  scroll-behavior: smooth;
}

body {
  font-family: "Arimo", sans-serif;
}

.wrapper {
  max-width: 1280px;
  width: 90%;
  margin: 0 auto;
}

img {
  max-width: 100%;
  display: block;
}

h1,
h2,
p,
ul,
li,
a {
  margin: 0;
  padding: 0;
}

/* Global Styles Ends Here */
/* Skip-line for accessibility */
.skipLink {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: #fff;
  color: #000;
}

.skipLink:focus {
  left: 0;
}

/* - */
/* Header Styles Start Here */
header {
  background-position: center;
  background-repeat: no-repeat;
  background-size: inherit;
  background-attachment: fixed;
  /* Nav Styles Start Here */
  /* Hero Container Styles Start Here */
  /* Hero Container Styles Ends Here */
}

header .navContainer {
  background-color: rgba(0, 0, 0, 0.85);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 3;
}

header .navContainer .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 6vh;
}

header .navContainer .nav .initial {
  font-size: 1.5rem;
  color: #e40b0b;
  border: 2px solid #fff;
  margin: 0;
  padding: 0 8px;
}

header .navContainer .nav .navLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  width: 50%;
}

header .navContainer .nav .navLinks li {
  position: relative;
}

header .navContainer .nav .navLinks li:hover a::before {
  left: -10px;
  opacity: 1;
}

header .navContainer .nav .navLinks li:hover a::after {
  right: -10px;
  opacity: 1;
}

header .navContainer .nav .navLinks li a {
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1.5px;
  color: #fff;
}

header .navContainer .nav .navLinks li a:before {
  content: '[';
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  font-size: 2.2rem;
  font-weight: bold;
  color: #e40b0b;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

header .navContainer .nav .navLinks li a:after {
  content: ']';
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  font-size: 2.2rem;
  font-weight: bold;
  color: #e40b0b;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

header .navContainer .nav .navLinks li a.active:before {
  content: '[';
  left: -9px;
  opacity: 1;
}

header .navContainer .nav .navLinks li a.active:after {
  content: ']';
  right: -9px;
  opacity: 1;
}

header .navContainer .nav .navLinks li .subMenu {
  position: absolute;
  top: 50px;
  left: 0;
  width: 180px;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 5px 5px 5px 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

header .navContainer .nav .navLinks li .subMenu .subItem {
  list-style: none;
  border-top: 1px dashed #e40b0b;
  padding: 5px 0;
}

header .navContainer .nav .navLinks li .subMenu .subItem:first-child {
  border-top: none;
}

header .navContainer .nav .navLinks li .subMenu .subItem a {
  font-size: 1.3rem;
  text-decoration: none;
  text-align: left;
  letter-spacing: 1.5px;
  color: #fff;
  display: block;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

header .navContainer .nav .navLinks li .subMenu .subItem a::before, header .navContainer .nav .navLinks li .subMenu .subItem a::after {
  content: none;
}

header .navContainer .nav .navLinks li:hover > .subMenu {
  top: 40px;
  opacity: 1;
  visibility: visible;
}

header .navContainer .nav .burger {
  display: none;
  cursor: pointer;
}

header .navContainer .nav .burger div {
  width: 25px;
  height: 3px;
  background: #fff;
  margin: 5px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

header .heroContainer {
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  /* Social Icons */
  /* Hero Section */
}

header .heroContainer .social {
  position: absolute;
  top: 35%;
  left: 0%;
}

header .heroContainer .social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
  position: fixed;
  z-index: 3;
}

header .heroContainer .social ul li {
  position: relative;
  text-decoration: none;
  -webkit-transition: all 0.5s 0.3s ease;
  transition: all 0.5s 0.3s ease;
}

header .heroContainer .social ul li:hover .fa-linkedin {
  color: #2867b2;
}

header .heroContainer .social ul li:hover .fa-twitter-square {
  color: #1da1f2;
}

header .heroContainer .social ul li:hover .fa-github-square {
  color: #211f1f;
}

header .heroContainer .social ul li:hover .fa-medium {
  color: #000;
}

header .heroContainer .social ul li i {
  font-size: 3.2rem;
  color: #e40b0b;
  background-color: #fff;
  border-radius: 4px;
  line-height: 29px;
  margin: 15px;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

header .heroContainer .social ul li .slider {
  content: "";
  position: absolute;
  top: 15px;
  left: 48px;
  width: 0px;
  height: 29px;
  border-radius: 3px;
  -webkit-transition: all 0.5s 0.3s ease;
  transition: all 0.5s 0.3s ease;
}

header .heroContainer .social ul li .slider p {
  font-size: 1.6rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  line-height: 30px;
  color: #fff;
  opacity: 0;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

header .heroContainer .social ul li:hover .slider {
  width: 140px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

header .heroContainer .social ul li:hover .slider .linkedin {
  background: #2867b2;
  border-radius: 3px;
}

header .heroContainer .social ul li:hover .slider .twitter {
  background: #1da1f2;
  border-radius: 3px;
}

header .heroContainer .social ul li:hover .slider .github {
  background: #211f1f;
  border-radius: 3px;
}

header .heroContainer .social ul li:hover .slider .medium {
  background: #000;
  border-radius: 3px;
}

header .heroContainer .social ul li:hover .slider p {
  opacity: 1;
  -webkit-transition: all 1s 0.2s ease;
  transition: all 1s 0.2s ease;
}

header .heroContainer .hero {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  -ms-grid-rows: (min-content)[4];
      grid-template-rows: repeat(4, -webkit-min-content);
      grid-template-rows: repeat(4, min-content);
      grid-template-areas: "logo" "name" "headline" "scroll";
  padding-top: 300px;
  /* Scroll Animation */
}

header .heroContainer .hero .logo {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: logo;
}

header .heroContainer .hero .logo img {
  height: 100px;
  width: 100px;
  margin: 0 auto;
}

header .heroContainer .hero .name {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: name;
  font-size: 7rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  margin: 0 auto;
  padding-top: 80px;
}

header .heroContainer .hero .headline {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: headline;
  font-family: "Aleo", serif;
  font-size: 3rem;
  letter-spacing: 2px;
  text-align: center;
  color: #fff;
  margin: 0 auto;
  padding: 10px;
}

header .heroContainer .hero .headline a {
  color: #fff;
  text-decoration: none;
}

header .heroContainer .hero .scroll {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: scroll;
}

header .heroContainer .hero .scroll .iconScroll,
header .heroContainer .hero .scroll .iconScroll:before {
  position: absolute;
  left: 49%;
}

header .heroContainer .hero .scroll .iconScroll {
  top: 90%;
  width: 35px;
  height: 65px;
  -webkit-box-shadow: inset 0 0 0 1px #fff;
          box-shadow: inset 0 0 0 1px #fff;
  border-radius: 25px;
}

header .heroContainer .hero .scroll .iconScroll:before {
  content: '';
  top: 8px;
  width: 8px;
  height: 8px;
  background: #e40b0b;
  border-radius: 4px;
  margin-left: -4px;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: scroll;
          animation-name: scroll;
}

@-webkit-keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(46px);
            transform: translateY(46px);
  }
}

@keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(46px);
            transform: translateY(46px);
  }
}

/* Header Styles Ends Here */
.about {
  position: relative;
  min-height: 94vh;
}

.about .title {
  font-size: 6rem;
  font-family: "Aleo", serif;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  padding-top: 80px;
}

.about .title .accent {
  font-size: 5.5rem;
  color: #e40b0b;
}

.about .arrowUp {
  position: fixed;
  right: 20px;
  bottom: 30px;
  display: none;
  z-index: 2;
  background: #fff;
  border: 2px solid #e40b0b;
  border-radius: 3px;
  padding: 3px;
}

.about .arrowUp a {
  font-size: 1.5rem;
  text-decoration: none;
  color: #e40b0b;
}

.about .arrowUp a:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about .arrowUp i {
  font-size: 3.5rem;
  color: #e40b0b;
  margin-top: -3px;
  margin-bottom: -20px;
}

.about .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc(100 / 2)-20px;
  margin-top: 20px;
}

.about .wrapper .photo {
  max-width: 45%;
  margin: 0;
}

.about .wrapper .aboutMe {
  position: relative;
  max-width: 50%;
}

.about .wrapper .aboutMe p {
  font-size: 2.5rem;
  line-height: 1.5;
  color: #000;
  background: #fff;
  margin-left: 10px;
  padding: 5px 0;
}

.about .wrapper .border {
  position: absolute;
  border: 6px solid #e40b0b;
  border-radius: 3px;
  height: 45%;
  width: 25%;
  top: 27%;
  right: 18%;
  z-index: -1;
}

.skills {
  background: #161616;
  position: relative;
  min-height: 94vh;
}

.skills .title {
  font-family: "Aleo", serif;
  font-size: 6rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  padding-top: 80px;
}

.skills .title .accent {
  font-size: 5.5rem;
  color: #e40b0b;
}

.skills .logos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  -ms-grid-rows: (min-content)[2];
      grid-template-rows: repeat(2, -webkit-min-content);
      grid-template-rows: repeat(2, min-content);
      grid-template-areas: "html css sass mobile vsCode js" "jq react firebase github git accessible";
  list-style: none;
  padding-top: 50px;
}

.skills .logos .html {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: html;
}

.skills .logos .css {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: css;
}

.skills .logos .sass {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: sass;
}

.skills .logos .mobile {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: mobile;
}

.skills .logos .vsCode {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: vsCode;
}

.skills .logos .javaScript {
  -ms-grid-row: 1;
  -ms-grid-column: 6;
  grid-area: js;
}

.skills .logos .jQuery {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: jq;
}

.skills .logos .react {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: react;
}

.skills .logos .firebase {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: firebase;
}

.skills .logos .github {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  grid-area: github;
}

.skills .logos .git {
  -ms-grid-row: 2;
  -ms-grid-column: 5;
  grid-area: git;
}

.skills .logos .accessible {
  -ms-grid-row: 2;
  -ms-grid-column: 6;
  grid-area: accessible;
}

.skills .logos .html,
.skills .logos .css,
.skills .logos .sass,
.skills .logos .mobile,
.skills .logos .vsCode,
.skills .logos .javaScript,
.skills .logos .jQuery,
.skills .logos .react,
.skills .logos .firebase,
.skills .logos .github,
.skills .logos .git,
.skills .logos .accessible {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 100px 0;
}

.skills .logos .html p,
.skills .logos .css p,
.skills .logos .sass p,
.skills .logos .mobile p,
.skills .logos .vsCode p,
.skills .logos .javaScript p,
.skills .logos .jQuery p,
.skills .logos .react p,
.skills .logos .firebase p,
.skills .logos .github p,
.skills .logos .git p,
.skills .logos .accessible p {
  font-size: 2rem;
  color: #fff;
  text-decoration: none;
  text-align: center;
  margin-top: 10px;
}

.skills .logos .html a,
.skills .logos .css a,
.skills .logos .sass a,
.skills .logos .mobile a,
.skills .logos .vsCode a,
.skills .logos .javaScript a,
.skills .logos .jQuery a,
.skills .logos .react a,
.skills .logos .firebase a,
.skills .logos .github a,
.skills .logos .git a,
.skills .logos .accessible a {
  text-align: center;
}

.skills .logos .html i,
.skills .logos .css i,
.skills .logos .sass i,
.skills .logos .mobile i,
.skills .logos .vsCode i,
.skills .logos .javaScript i,
.skills .logos .jQuery i,
.skills .logos .react i,
.skills .logos .firebase i,
.skills .logos .github i,
.skills .logos .git i,
.skills .logos .accessible i {
  font-size: 9rem;
  color: #e40b0b;
}

.skills .logos .html img,
.skills .logos .css img,
.skills .logos .sass img,
.skills .logos .mobile img,
.skills .logos .vsCode img,
.skills .logos .javaScript img,
.skills .logos .jQuery img,
.skills .logos .react img,
.skills .logos .firebase img,
.skills .logos .github img,
.skills .logos .git img,
.skills .logos .accessible img {
  width: 93px;
  margin: 0 auto;
  color: #444444;
}

.skills .logos .html .responsive,
.skills .logos .css .responsive,
.skills .logos .sass .responsive,
.skills .logos .mobile .responsive,
.skills .logos .vsCode .responsive,
.skills .logos .javaScript .responsive,
.skills .logos .jQuery .responsive,
.skills .logos .react .responsive,
.skills .logos .firebase .responsive,
.skills .logos .github .responsive,
.skills .logos .git .responsive,
.skills .logos .accessible .responsive {
  width: 125px;
  margin-bottom: 11px;
}

/* Skills Icons Hover Effect */
@-webkit-keyframes hvr-icon-pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

@keyframes hvr-icon-pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

.hvr-icon-pulse-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.hvr-icon-pulse-grow .hvr-icon {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-icon-pulse-grow:hover .hvr-icon,
.hvr-icon-pulse-grow:focus .hvr-icon,
.hvr-icon-pulse-grow:active .hvr-icon {
  -webkit-animation-name: hvr-icon-pulse-grow;
  animation-name: hvr-icon-pulse-grow;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

/* Skills Icons Hover Effect End */
/* Skills Styles Ends Here */
.portfolio {
  background-color: rgba(0, 0, 0, 0.2);
  position: relative;
}

.portfolio .title {
  font-size: 6rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #000;
  padding-top: 80px;
}

.portfolio .title .accent {
  font-size: 5.5rem;
  color: #e40b0b;
}

.portfolio .subTitle {
  font-size: 3rem;
  color: #fff;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
  width: 330px;
  border-bottom: 2px solid #e40b0b;
}

.portfolio .quick {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (min-content)[5];
      grid-template-rows: repeat(5, -webkit-min-content);
      grid-template-rows: repeat(5, min-content);
      grid-template-areas: "subTittle subTittle" "weather weatherInfo" "tipCalculatorInfo tipCalculator" "socialIcons socialIconsInfo";
  padding-top: 10px;
  padding-bottom: 40px;
}

.portfolio .quick h2 {
  font-size: 3.2rem;
  margin-bottom: 20px;
}

.portfolio .quick h2 span {
  font-size: 2.6rem;
}

.portfolio .quick ul {
  text-decoration: none;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.portfolio .quick ul li {
  font-size: 1.8rem;
  color: #fff;
  background-color: #e40b0b;
  border-radius: 3px;
  margin-left: 0;
  margin-right: 10px;
  padding: 5px;
}

.portfolio .quick p {
  font-size: 2rem;
  margin: 20px 0;
}

.portfolio .quick .links {
  margin-top: 25px;
}

.portfolio .quick .links a {
  font-size: 1.6rem;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  border: 2px solid #000;
  border-radius: 3px;
  background-color: #000;
  margin-right: 10px;
  padding: 10px 15px;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

.portfolio .quick .links a:hover, .portfolio .quick .links a:focus {
  background-color: #e40b0b;
  border: 2px solid #e40b0b;
  -webkit-box-shadow: 4px 4px 1px rgba(255, 255, 255, 0.8);
          box-shadow: 4px 4px 1px rgba(255, 255, 255, 0.8);
}

.portfolio .weather {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: weather;
  padding: 20px 0;
}

.portfolio .weatherInfo {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: weatherInfo;
  margin-top: 80px;
  margin-right: 5px;
}

.portfolio .socialIcons {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: socialIcons;
  padding: 20px 0;
}

.portfolio .socialIconsInfo {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: socialIconsInfo;
  margin-top: 80px;
  margin-right: 5px;
}

.portfolio .tipCalculator {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: tipCalculator;
  padding: 20px 0;
}

.portfolio .tipCalculatorInfo {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: tipCalculatorInfo;
  margin-top: 80px;
  margin-right: 5px;
}

.portfolio .feature {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (min-content)[4];
      grid-template-rows: repeat(4, -webkit-min-content);
      grid-template-rows: repeat(4, min-content);
      grid-template-areas: "subTitle subTitle" "lateInfo late" "market marketInfo" "yodaInfo yoda" "textile textileInfo";
  padding-top: 10px;
  padding-bottom: 40px;
}

.portfolio .feature h2 {
  font-size: 3.2rem;
  margin-bottom: 20px;
}

.portfolio .feature h2 span {
  font-size: 2.6rem;
}

.portfolio .feature ul {
  text-decoration: none;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.portfolio .feature ul li {
  font-size: 1.8rem;
  color: #fff;
  background-color: #e40b0b;
  border-radius: 3px;
  margin-left: 0;
  margin-right: 10px;
  padding: 5px;
}

.portfolio .feature p {
  font-size: 2rem;
  margin: 20px 0;
}

.portfolio .feature .links {
  margin-top: 25px;
}

.portfolio .feature .links a {
  font-size: 1.6rem;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  border: 2px solid #000;
  border-radius: 3px;
  background-color: #000;
  margin-right: 10px;
  padding: 10px 15px;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

.portfolio .feature .links a:hover, .portfolio .feature .links a:focus {
  background-color: #e40b0b;
  border: 2px solid #e40b0b;
  -webkit-box-shadow: 4px 4px 1px rgba(255, 255, 255, 0.8);
          box-shadow: 4px 4px 1px rgba(255, 255, 255, 0.8);
}

.portfolio .yoda {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: yoda;
  padding: 20px 0;
}

.portfolio .market {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: market;
  padding: 20px 0;
}

.portfolio .amILate {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: late;
  padding: 20px 0;
}

.portfolio .textile {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: textile;
  padding: 20px 0;
}

.portfolio .yodaInfo {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: yodaInfo;
  margin-top: 50px;
  margin-right: 5px;
}

.portfolio .marketInfo {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: marketInfo;
  margin-top: 80px;
  margin-left: 25px;
}

.portfolio .amILateInfo {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: lateInfo;
  margin-top: 60px;
  margin-right: 5px;
}

.portfolio .textileInfo {
  -ms-grid-row: 5;
  -ms-grid-column: 2;
  grid-area: textileInfo;
  margin-top: 70px;
  margin-left: 25px;
}

.portfolio .title {
  font-family: "Aleo", serif;
  font-size: 5rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.contact {
  position: relative;
  min-height: 89.1vh;
  background: #161616;
  padding-top: 80px;
}

.contact .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 20px;
}

.contact .wrapper .border {
  position: absolute;
  border: 6px solid #e40b0b;
  border-radius: 3px;
  height: 45%;
  width: 25%;
  top: 9%;
  left: 16%;
  z-index: 0;
}

.contact .wrapper .contactMe {
  background-color: #161616;
  width: 48%;
  padding-top: 10px;
  z-index: 1;
}

.contact .wrapper .contactMe h2 {
  font-size: 5rem;
  letter-spacing: 1.2px;
  color: #fff;
  margin: 0;
}

.contact .wrapper .contactMe p {
  font-size: 2rem;
  color: #fff;
  line-height: 2;
}

.contact .wrapper .contactMe .contactDetails p {
  line-height: 2;
  margin-top: 20px;
}

.contact .wrapper .contactMe .contactDetails .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.contact .wrapper .contactMe .contactDetails .details .arrow {
  font-size: 3rem;
  color: #fff;
  margin-left: 90px;
}

.contact .wrapper .contactMe .contactDetails .details .qrCode {
  border: 3px solid transparent;
  border-radius: 3px;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

.contact .wrapper .contactMe .contactDetails .details .qrCode:hover, .contact .wrapper .contactMe .contactDetails .details .qrCode:focus {
  border: 3px solid #e40b0b;
  border-radius: 3px;
  -webkit-box-shadow: 6px 6px 1px rgba(255, 255, 255, 0.1);
          box-shadow: 6px 6px 1px rgba(255, 255, 255, 0.1);
}

.contact .wrapper .contactMe .contactDetails .details a {
  font-size: 2rem;
  text-decoration: none;
  color: #fff;
}

.contact .wrapper .contactMe .contactDetails .details a i {
  font-size: 2.5rem;
  color: #fff;
  padding: 20px 0;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

.contact .wrapper .contactMe .contactDetails .details .resume,
.contact .wrapper .contactMe .contactDetails .details .email {
  padding: 15px 0;
}

.contact .wrapper .contactMe .contactDetails .details .resumeBtn,
.contact .wrapper .contactMe .contactDetails .details .emailBtn {
  border: 2px solid #e40b0b;
  border-radius: 3px;
  background: #e40b0b;
  padding: 10px 25px;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

.contact .wrapper .contactMe .contactDetails .details .resumeBtn:hover, .contact .wrapper .contactMe .contactDetails .details .resumeBtn:focus,
.contact .wrapper .contactMe .contactDetails .details .emailBtn:hover,
.contact .wrapper .contactMe .contactDetails .details .emailBtn:focus {
  background-color: #000;
  -webkit-box-shadow: 6px 6px 1px rgba(255, 255, 255, 0.1);
          box-shadow: 6px 6px 1px rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

.contact .wrapper fieldset {
  width: 48%;
  border: none;
  padding: 0;
  padding-top: 30px;
}

.contact .wrapper fieldset legend {
  font-size: 3.5rem;
  font-weight: bold;
  color: #fff;
  padding-top: 50px;
}

.contact .wrapper fieldset form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15px 0;
  /* To hide the labels from the form */
}

.contact .wrapper fieldset form #username,
.contact .wrapper fieldset form #useremail,
.contact .wrapper fieldset form #message {
  font-size: 1.6rem;
  color: #fff;
  background: transparent;
  border-radius: 3px;
  margin: 15px 0;
  padding: 15px;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

.contact .wrapper fieldset form #username:hover, .contact .wrapper fieldset form #username:focus,
.contact .wrapper fieldset form #useremail:hover,
.contact .wrapper fieldset form #useremail:focus,
.contact .wrapper fieldset form #message:hover,
.contact .wrapper fieldset form #message:focus {
  border: 2px solid #e40b0b;
  -webkit-box-shadow: 6px 6px 1px rgba(255, 255, 255, 0.1);
          box-shadow: 6px 6px 1px rgba(255, 255, 255, 0.1);
}

.contact .wrapper fieldset form #message {
  height: 160px;
}

.contact .wrapper fieldset form input[type='submit'] {
  font-size: 1.6rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: #fff;
  background-color: #e40b0b;
  border: 2px solid #e40b0b;
  border-radius: 3px;
  margin: 15px 0;
  padding: 10px;
  width: 120px;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

.contact .wrapper fieldset form input[type='submit']:hover, .contact .wrapper fieldset form input[type='submit']:focus {
  background-color: #000;
  -webkit-box-shadow: 6px 6px 1px rgba(255, 255, 255, 0.1);
          box-shadow: 6px 6px 1px rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

.contact .wrapper fieldset form .visually-hidden:not(:focus):not(:active) {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}

.contact .wrapper .socialMedia {
  display: none;
  width: 48%;
}

.contact .wrapper .socialMedia ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  padding-top: 15px;
}

.contact .wrapper .socialMedia ul li {
  text-decoration: none;
  margin: 0 20px;
}

.contact .wrapper .socialMedia ul li i {
  font-size: 4.5rem;
  color: #e40b0b;
  background: #fff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  line-height: 30px;
  width: 35px;
}

/* Footer Styles Starts Here */
footer {
  background: #000;
}

footer .wrapper {
  min-height: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .wrapper p {
  font-size: 1.8rem;
  color: #e40b0b;
}

footer .wrapper .white {
  color: #fff;
}

/* Responsive Starts Here */
@media (max-width: 3840px) {
  header {
    background-image: url(../assets/4KHeader.jpg);
  }
}

@media (max-width: 1920px) {
  header {
    background-image: url(../assets/header.jpg);
  }
}

@media (max-width: 1440px) {
  .wrapper {
    width: 80%;
  }
  .about .title,
  .skills .title,
  .portfolio .title {
    font-size: 4.5rem;
    padding-top: 40px;
  }
  .about .title .accent,
  .skills .title .accent,
  .portfolio .title .accent {
    font-size: 5rem;
  }
  header .heroContainer .hero {
    padding-top: 185px;
  }
  header .heroContainer .hero .name {
    font-size: 5rem;
  }
  header .heroContainer .hero .headline {
    font-size: 2rem;
  }
  .about .wrapper {
    margin-top: 20px;
  }
  .about .wrapper .photo img {
    width: 80%;
  }
  .about .wrapper .aboutMe p {
    font-size: 2rem;
  }
  .about .wrapper .border {
    width: 30%;
    top: 24%;
    right: 11%;
  }
  .skills .logos {
    padding-top: 40px;
  }
  .skills .logos .html,
  .skills .logos .css,
  .skills .logos .sass,
  .skills .logos .mobile,
  .skills .logos .vsCode,
  .skills .logos .javaScript,
  .skills .logos .jQuery,
  .skills .logos .react,
  .skills .logos .firebase,
  .skills .logos .github,
  .skills .logos .git,
  .skills .logos .accessible {
    margin: 70px 0;
  }
  .skills .logos .html p,
  .skills .logos .css p,
  .skills .logos .sass p,
  .skills .logos .mobile p,
  .skills .logos .vsCode p,
  .skills .logos .javaScript p,
  .skills .logos .jQuery p,
  .skills .logos .react p,
  .skills .logos .firebase p,
  .skills .logos .github p,
  .skills .logos .git p,
  .skills .logos .accessible p {
    font-size: 1.8rem;
  }
  .skills .logos .html i,
  .skills .logos .css i,
  .skills .logos .sass i,
  .skills .logos .mobile i,
  .skills .logos .vsCode i,
  .skills .logos .javaScript i,
  .skills .logos .jQuery i,
  .skills .logos .react i,
  .skills .logos .firebase i,
  .skills .logos .github i,
  .skills .logos .git i,
  .skills .logos .accessible i {
    font-size: 7.5rem;
  }
  .skills .logos .html img,
  .skills .logos .css img,
  .skills .logos .sass img,
  .skills .logos .mobile img,
  .skills .logos .vsCode img,
  .skills .logos .javaScript img,
  .skills .logos .jQuery img,
  .skills .logos .react img,
  .skills .logos .firebase img,
  .skills .logos .github img,
  .skills .logos .git img,
  .skills .logos .accessible img {
    width: 79px;
  }
  .skills .logos .html .responsive,
  .skills .logos .css .responsive,
  .skills .logos .sass .responsive,
  .skills .logos .mobile .responsive,
  .skills .logos .vsCode .responsive,
  .skills .logos .javaScript .responsive,
  .skills .logos .jQuery .responsive,
  .skills .logos .react .responsive,
  .skills .logos .firebase .responsive,
  .skills .logos .github .responsive,
  .skills .logos .git .responsive,
  .skills .logos .accessible .responsive {
    width: 102px;
  }
  .contact {
    min-height: 89.1vh;
    padding-top: 40px;
  }
  .contact .wrapper .border {
    top: 5%;
    left: 9%;
    height: 55%;
  }
  .contact .wrapper .contactMe h2 {
    font-size: 4.5rem;
  }
  .contact .wrapper .contactMe p {
    font-size: 1.8rem;
    line-height: 1.5;
  }
  .contact .wrapper .contactMe .contactDetails p {
    line-height: 1.5;
    margin-top: 10px;
  }
  .contact .wrapper .contactMe .contactDetails .details a {
    font-size: 1.6rem;
  }
  .contact .wrapper .contactMe .contactDetails .details a i {
    font-size: 2rem;
  }
  .contact .wrapper .contactMe .contactDetails .details .resume,
  .contact .wrapper .contactMe .contactDetails .details .email {
    padding: 10px 0;
  }
  .contact .wrapper fieldset {
    margin-top: 35px;
  }
  .contact .wrapper fieldset legend {
    font-size: 2.5rem;
    padding-top: 25px;
  }
  .contact .wrapper fieldset form {
    padding: 10px 0;
  }
  .contact .wrapper fieldset form #username,
  .contact .wrapper fieldset form #useremail,
  .contact .wrapper fieldset form #message {
    font-size: 1.4rem;
    padding: 10px;
  }
  .contact .wrapper fieldset form input[type="submit"] {
    font-size: 1.4rem;
  }
}

@media (max-width: 1024px) {
  header .navContainer .nav .navLinks {
    width: 70%;
  }
  header .heroContainer .hero {
    padding-top: 200px;
  }
  header .heroContainer .hero .scroll .iconScroll {
    top: 85%;
  }
  .about .wrapper .photo img {
    width: 90%;
  }
  .about .wrapper .aboutMe {
    margin-top: 25px;
  }
  .about .wrapper .border {
    top: 41%;
    height: 52%;
  }
  .portfolio .wrapper ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .portfolio .wrapper li {
    margin-top: 10px;
  }
  .portfolio .quick .weatherInfo {
    margin-top: 0;
    padding-bottom: 20px;
  }
  .portfolio .quick .socialIconsInfo {
    margin-top: 10px;
  }
  .portfolio .feature .yoda,
  .portfolio .feature .market,
  .portfolio .feature .amILate,
  .portfolio .feature .textile {
    padding: 70px 0;
  }
  .portfolio .feature .yodaInfo {
    margin-top: 25px;
  }
  .portfolio .feature .marketInfo {
    margin-top: 45px;
  }
  .portfolio .feature .amILateInfo {
    margin-top: 20px;
  }
  .portfolio .feature .textileInfo {
    margin-top: 60px;
  }
}

@media (max-width: 900px) {
  header .navContainer .nav .navLinks {
    width: 80%;
  }
  header .heroContainer .hero {
    padding-top: 220px;
  }
  .about .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about .wrapper .aboutMe {
    max-width: 90%;
  }
  .about .wrapper .border {
    top: 59%;
    height: 30%;
  }
  .portfolio .quick .weather {
    padding: 50px 0;
  }
  .portfolio .quick .socialIcons {
    padding: 60px 0;
  }
  .portfolio .feature .yoda,
  .portfolio .feature .market,
  .portfolio .feature .amILate,
  .portfolio .feature .textile {
    padding: 90px 0;
  }
  .contact .contactMe .contactDetails .details .email a {
    font-size: 1.6rem;
  }
  .contact .contactMe .contactDetails .details .email a i {
    font-size: 2rem;
  }
}

@media (max-width: 850px) {
  header .navContainer .nav .navLinks {
    position: absolute;
    top: 6vh;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 94vh;
    width: 50%;
    background-color: rgba(0, 0, 0, 0.85);
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.5s ease-in;
    transition: -webkit-transform 0.5s ease-in;
    transition: transform 0.5s ease-in;
    transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
    z-index: 2;
  }
  header .navContainer .nav .navLinks li {
    padding: 60px 0;
    opacity: 0;
  }
  header .navContainer .nav .navLinks a {
    font-weight: bold;
  }
  header .navContainer .nav .burger {
    display: block;
  }
  header .navContainer .nav .navActive {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  header .toggle .line1 {
    -webkit-transform: rotate(-45deg) translate(-5px, 6px);
            transform: rotate(-45deg) translate(-5px, 6px);
  }
  header .toggle .line2 {
    opacity: 0;
  }
  header .toggle .line3 {
    -webkit-transform: rotate(45deg) translate(-5px, -6px);
            transform: rotate(45deg) translate(-5px, -6px);
  }
  @-webkit-keyframes navLinkFade {
    from {
      opacity: 0;
      -webkit-transform: translateX(50px);
              transform: translateX(50px);
    }
    to {
      opacity: 1;
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
  }
  @keyframes navLinkFade {
    from {
      opacity: 0;
      -webkit-transform: translateX(50px);
              transform: translateX(50px);
    }
    to {
      opacity: 1;
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
  }
  header .heroContainer .social {
    display: none;
  }
  header .heroContainer .hero {
    padding-top: 310px;
  }
  header .heroContainer .hero .name {
    font-size: 4rem;
  }
  .about .wrapper {
    padding-bottom: 30px;
  }
  .about .wrapper .photo {
    max-width: 60%;
  }
  .about .wrapper .border {
    top: 57%;
    right: 10%;
  }
  .skills .logos {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    -ms-grid-rows: (min-content)[3];
        grid-template-rows: repeat(3, -webkit-min-content);
        grid-template-rows: repeat(3, min-content);
        grid-template-areas: "html css sass mobile" "vsCode js jq react" "firebase github git accessible";
  }
  .portfolio .quick {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    -ms-grid-rows: (min-content)[5];
        grid-template-rows: repeat(5, -webkit-min-content);
        grid-template-rows: repeat(5, min-content);
        grid-template-areas: "subTitle" "weather" "weatherInfo" "socialIcons" "socialIconsInfo";
  }
  .portfolio .quick .socialIconsInfo {
    padding-bottom: 60px;
  }
  .portfolio .feature {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    -ms-grid-rows: (min-content)[9];
        grid-template-rows: repeat(9, -webkit-min-content);
        grid-template-rows: repeat(9, min-content);
        grid-template-areas: "subTitle" "yoda" "yodaInfo" "market" "marketInfo" "late" "lateInfo" "textile" "textileInfo";
    padding-bottom: 60px;
  }
  .portfolio .feature .yoda,
  .portfolio .feature .market,
  .portfolio .feature .amILate,
  .portfolio .feature .textile {
    padding: 60px 0;
  }
  .portfolio .feature .yodaInfo,
  .portfolio .feature .marketInfo,
  .portfolio .feature .amILateInfo,
  .portfolio .feature .textileInfo {
    margin: 0;
  }
  .contact .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact .wrapper .border {
    height: 48%;
    top: 10%;
    left: 68%;
  }
  .contact .wrapper .contactMe {
    width: 100%;
  }
  .contact .wrapper .contactMe p {
    padding: 10px 0;
  }
  .contact .wrapper .contactMe .contactDetails .details {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact .wrapper .contactMe .contactDetails .details .arrow {
    margin-left: 0;
  }
  .contact .wrapper .contactMe .contactDetails .details .email .emailBtn {
    font-size: 1.8rem;
  }
  .contact .wrapper fieldset {
    width: 100%;
    padding-top: 0;
  }
  .contact .wrapper fieldset legend {
    padding-top: 50px;
  }
  .contact .wrapper .socialMedia {
    width: 50%;
    display: block;
  }
  .contact .wrapper .socialMedia ul {
    padding-bottom: 50px;
  }
}

@media (max-width: 480px) {
  header {
    background-position: top;
  }
  header .navContainer .nav .navLinks {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  header .navContainer .nav .navLinks li {
    padding: 45px 0;
  }
  header .navContainer .nav .navLinks .subMenu {
    display: none;
  }
  header .heroContainer .social {
    display: none;
  }
  header .heroContainer .hero .name {
    font-size: 2.8rem;
  }
  header .heroContainer .hero .scroll .iconScroll,
  header .heroContainer .hero .scroll .iconScroll:before {
    left: 47%;
  }
  header .heroContainer .hero .scroll .iconScroll {
    top: 85%;
  }
  .about .title {
    font-size: 4rem;
  }
  .about .wrapper .photo img {
    width: 100%;
  }
  .about .wrapper .aboutMe {
    max-width: 90%;
  }
  .about .wrapper .aboutMe p {
    width: 100%;
  }
  .about .wrapper .border {
    top: 40%;
    right: 8%;
    height: 45%;
  }
  .skills .title {
    font-size: 4rem;
  }
  .skills .logos {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: (min-content)[4];
        grid-template-rows: repeat(4, -webkit-min-content);
        grid-template-rows: repeat(4, min-content);
        grid-template-areas: "html css sass" "mobile vsCode js" "jq react firebase" "github git accessible";
  }
  .portfolio .title {
    font-size: 4rem;
  }
  .portfolio .weatherInfo h2,
  .portfolio .weatherInfo .links,
  .portfolio .socialIconsInfo h2,
  .portfolio .socialIconsInfo .links,
  .portfolio .yodaInfo h2,
  .portfolio .yodaInfo .links,
  .portfolio .marketInfo h2,
  .portfolio .marketInfo .links,
  .portfolio .textileInfo h2,
  .portfolio .textileInfo .links,
  .portfolio .amILateInfo h2,
  .portfolio .amILateInfo .links {
    text-align: center;
  }
  .portfolio .weatherInfo ul,
  .portfolio .socialIconsInfo ul,
  .portfolio .yodaInfo ul,
  .portfolio .marketInfo ul,
  .portfolio .textileInfo ul,
  .portfolio .amILateInfo ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contact .wrapper .border {
    width: 50%;
    top: 9%;
    left: 45%;
  }
  .contact .wrapper fieldset legend {
    padding-top: 65px;
  }
}

@media (max-width: 415px) {
  header .heroContainer .hero {
    padding-top: 260px;
  }
  header .heroContainer .hero .logo img {
    height: 80px;
    width: 80px;
  }
  header .heroContainer .hero .name h2 {
    font-size: 3.6rem;
    margin-top: 40px;
  }
  header .heroContainer .hero .headline {
    font-size: 1.6rem;
  }
  header .heroContainer .hero .scroll .iconScroll,
  header .heroContainer .hero .scroll .iconScroll:before {
    left: 46%;
  }
  .about .wrapper .border {
    top: 35%;
  }
  .portfolio .quick h2 {
    font-size: 3rem;
  }
  .portfolio .wrapper .weatherInfo,
  .portfolio .wrapper .socialIconsInfo,
  .portfolio .wrapper .yodaInfo,
  .portfolio .wrapper .marketInfo,
  .portfolio .wrapper .amILateInfo,
  .portfolio .wrapper .textileInfo {
    margin-left: 5px;
  }
  .contact .wrapper .contactMe {
    margin-left: 5px;
  }
  .contact .wrapper .contactMe .contactDetails .details .email .emailBtn {
    font-size: 1.5rem;
  }
  .contact fieldset {
    margin-left: 5px;
  }
  .contact fieldset #username,
  .contact fieldset #useremail,
  .contact fieldset #message {
    border: 2px solid #e40b0b;
  }
  footer .wrapper p {
    font-size: 1.5rem;
  }
}

@media (max-width: 375px) {
  header .heroContainer .social ul li i {
    font-size: 2.8rem;
    margin: 10px 5px;
  }
  header .heroContainer .social ul li .slider {
    top: 12px;
    left: 34px;
    height: 25px;
  }
  header .heroContainer .social ul li .slider p {
    line-height: 25px;
  }
  header .heroContainer .hero {
    padding-top: 160px;
  }
  header .heroContainer .hero .logo img {
    height: 90px;
    width: 90px;
  }
  header .heroContainer .hero .name h2 {
    font-size: 2.8rem;
    margin-top: 30px;
  }
  .about .arrowUp {
    right: 5px;
  }
  .about .wrapper .border {
    top: 32%;
    right: 6%;
  }
  .skills .logos {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (min-content)[6];
        grid-template-rows: repeat(6, -webkit-min-content);
        grid-template-rows: repeat(6, min-content);
        grid-template-areas: "html css" "sass mobile" "vsCode js" "jq react" "firebase github" "git accessible";
  }
  .portfolio .title {
    font-size: 3.5rem;
  }
  .portfolio .wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .portfolio .wrapper h2 {
    font-size: 3rem;
  }
  .portfolio .wrapper p {
    font-size: 1.8rem;
  }
  .portfolio .wrapper .links a {
    font-size: 1.5rem;
    padding: 10px;
  }
  .contact .wrapper .border {
    height: 44.5%;
  }
  .contact .wrapper .contactMe .contactDetails .details .email .emailBtn {
    font-size: 1.4rem;
  }
  .contact .wrapper fieldset legend {
    font-size: 2.8rem;
  }
  footer .wrapper p {
    font-size: 1.3rem;
  }
}

@media (max-width: 320px) {
  header .navContainer .nav .initial {
    font-size: 1rem;
  }
  header .navContainer .nav .navLinks li a {
    font-size: 1.5rem;
  }
  header .heroContainer .hero {
    padding-top: 150px;
  }
  header .heroContainer .hero .logo img {
    height: 60px;
    width: 60px;
  }
  header .heroContainer .hero .name h2 {
    font-size: 2.5rem;
    margin-top: 15px;
  }
  header .heroContainer .hero .headline {
    font-size: 1.5rem;
  }
  header .heroContainer .hero .scroll .iconScroll,
  header .heroContainer .hero .scroll .iconScroll:before {
    left: 45%;
  }
  header .heroContainer .hero .scroll .iconScroll {
    width: 31px;
    height: 55px;
  }
  header .heroContainer .hero .scroll .iconScroll:before {
    margin-left: -2px;
  }
  .about .title {
    font-size: 3.5rem;
  }
  .about .wrapper .aboutMe p {
    font-size: 1.5rem;
  }
  .about .wrapper .border {
    top: 41%;
  }
  .skills .title {
    font-size: 3.5rem;
  }
  .skills .logos .html i,
  .skills .logos .css i,
  .skills .logos .sass i,
  .skills .logos .mobile i,
  .skills .logos .vsCode i,
  .skills .logos .javaScript i,
  .skills .logos .jQuery i,
  .skills .logos .react i,
  .skills .logos .firebase i,
  .skills .logos .github i,
  .skills .logos .git i,
  .skills .logos .accessible i {
    font-size: 6.5rem;
  }
  .skills .logos .html img,
  .skills .logos .css img,
  .skills .logos .sass img,
  .skills .logos .mobile img,
  .skills .logos .vsCode img,
  .skills .logos .javaScript img,
  .skills .logos .jQuery img,
  .skills .logos .react img,
  .skills .logos .firebase img,
  .skills .logos .github img,
  .skills .logos .git img,
  .skills .logos .accessible img {
    width: 68px;
  }
  .skills .logos .html .responsive,
  .skills .logos .css .responsive,
  .skills .logos .sass .responsive,
  .skills .logos .mobile .responsive,
  .skills .logos .vsCode .responsive,
  .skills .logos .javaScript .responsive,
  .skills .logos .jQuery .responsive,
  .skills .logos .react .responsive,
  .skills .logos .firebase .responsive,
  .skills .logos .github .responsive,
  .skills .logos .git .responsive,
  .skills .logos .accessible .responsive {
    width: 87px;
  }
  .portfolio .title {
    font-size: 3.5rem;
  }
  .portfolio .wrapper h3 {
    font-size: 3rem;
    width: 255px;
  }
  .portfolio .wrapper .yoda,
  .portfolio .wrapper .market,
  .portfolio .wrapper .amILate,
  .portfolio .wrapper .textile {
    padding: 35px 0;
  }
  .portfolio .wrapper .yodaInfo,
  .portfolio .wrapper .marketInfo,
  .portfolio .wrapper .amILateInfo,
  .portfolio .wrapper .textileInfo {
    border-bottom: 3px solid #e40b0b;
    padding-bottom: 30px;
  }
  .portfolio .wrapper h2 {
    font-size: 2.5rem;
    margin-bottom: 5px;
  }
  .portfolio .wrapper ul li {
    font-size: 1.6rem;
  }
  .portfolio .wrapper p {
    font-size: 1.7rem;
    margin-left: 5px;
  }
  .portfolio .wrapper .links a {
    font-size: 1.2rem;
    margin-right: 0;
  }
  .contact .wrapper .border {
    top: 3%;
  }
  .contact .wrapper .contactMe {
    margin-left: 5px;
  }
  .contact .wrapper .contactMe h2 {
    font-size: 3rem;
  }
  .contact .wrapper .contactMe p {
    font-size: 1.6rem;
  }
  .contact .wrapper .contactMe .contactDetails .details a {
    font-size: 1.4rem;
  }
  .contact .wrapper .contactMe .contactDetails .details a i {
    font-size: 2rem;
  }
  .contact .wrapper .contactMe .contactDetails .details .resumeBtn,
  .contact .wrapper .contactMe .contactDetails .details .emailBtn {
    padding: 10px 5px;
  }
  .contact .wrapper fieldset {
    margin-left: 5px;
  }
  .contact .wrapper fieldset legend {
    font-size: 1.8rem;
  }
  .contact .wrapper fieldset form input[type="submit"] {
    font-size: 1.4rem;
    padding: 8px;
  }
  footer .wrapper p {
    font-size: 1.29rem;
  }
}

header .heroContainerThanks {
  min-height: 95vh;
  background-color: rgba(0, 0, 0, 0.5);
  /* Social Icons */
  /* Hero Section */
}

header .heroContainerThanks .social {
  position: absolute;
  top: 35%;
  left: 0%;
}

header .heroContainerThanks .social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
  position: fixed;
  z-index: 3;
}

header .heroContainerThanks .social ul li {
  position: relative;
  text-decoration: none;
  -webkit-transition: all 0.5s 0.3s ease;
  transition: all 0.5s 0.3s ease;
}

header .heroContainerThanks .social ul li:hover .fa-linkedin {
  color: #2867b2;
}

header .heroContainerThanks .social ul li:hover .fa-twitter-square {
  color: #1da1f2;
}

header .heroContainerThanks .social ul li:hover .fa-github-square {
  color: #211F1F;
}

header .heroContainerThanks .social ul li:hover .fa-medium {
  color: #000;
}

header .heroContainerThanks .social ul li i {
  font-size: 3.2rem;
  color: #e40b0b;
  background-color: #fff;
  border-radius: 4px;
  line-height: 29px;
  margin: 15px;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

header .heroContainerThanks .social ul li .slider {
  content: "";
  position: absolute;
  top: 15px;
  left: 48px;
  width: 0px;
  height: 29px;
  border-radius: 3px;
  -webkit-transition: all 0.5s 0.3s ease;
  transition: all 0.5s 0.3s ease;
}

header .heroContainerThanks .social ul li .slider p {
  font-size: 1.6rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  line-height: 30px;
  color: #fff;
  opacity: 0;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

header .heroContainerThanks .social ul li:hover .slider {
  width: 140px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

header .heroContainerThanks .social ul li:hover .slider .linkedin {
  background: #2867b2;
  border-radius: 3px;
}

header .heroContainerThanks .social ul li:hover .slider .twitter {
  background: #1da1f2;
  border-radius: 3px;
}

header .heroContainerThanks .social ul li:hover .slider .github {
  background: #211F1F;
  border-radius: 3px;
}

header .heroContainerThanks .social ul li:hover .slider .medium {
  background: #000;
  border-radius: 3px;
}

header .heroContainerThanks .social ul li:hover .slider p {
  opacity: 1;
  -webkit-transition: all 1s 0.2s ease;
  transition: all 1s 0.2s ease;
}

header .heroContainerThanks .hero {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  -ms-grid-rows: (min-content)[4];
      grid-template-rows: repeat(4, -webkit-min-content);
      grid-template-rows: repeat(4, min-content);
      grid-template-areas: "logo" "name" "headline" "scroll";
  padding-top: 300px;
  /* Scroll Animation */
}

header .heroContainerThanks .hero .logo {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: logo;
}

header .heroContainerThanks .hero .logo img {
  height: 100px;
  width: 100px;
  margin: 0 auto;
}

header .heroContainerThanks .hero .name {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: name;
  font-size: 7rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  margin: 0 auto;
  padding-top: 80px;
}

header .heroContainerThanks .hero .headline {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: headline;
  font-family: "Aleo", serif;
  font-size: 3rem;
  letter-spacing: 2px;
  text-align: center;
  color: #fff;
  margin: 0 auto;
  padding: 10px;
}

header .heroContainerThanks .hero .headline a {
  color: #fff;
  text-decoration: none;
}

header .heroContainerThanks .hero .scroll {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: scroll;
}

header .heroContainerThanks .hero .scroll .iconScroll,
header .heroContainerThanks .hero .scroll .iconScroll:before {
  position: absolute;
  left: 49%;
}

header .heroContainerThanks .hero .scroll .iconScroll {
  top: 90%;
  width: 35px;
  height: 65px;
  -webkit-box-shadow: inset 0 0 0 1px #fff;
          box-shadow: inset 0 0 0 1px #fff;
  border-radius: 25px;
}

header .heroContainerThanks .hero .scroll .iconScroll:before {
  content: '';
  top: 8px;
  width: 8px;
  height: 8px;
  background: #e40b0b;
  border-radius: 4px;
  margin-left: -4px;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: scroll;
          animation-name: scroll;
}

@keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(46px);
            transform: translateY(46px);
  }
}

/* Header Styles Ends Here */
.navContainer a {
  font-size: 1.6rem;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  padding: 5px;
}

.navContainer a i {
  color: #e40b0b;
}

@media (max-width: 375px) {
  header .navContainer .nav a {
    font-size: 1.5rem;
  }
  header .heroContainerThanks {
    min-height: 80vh;
  }
  header .heroContainerThanks .social {
    display: none;
  }
  header .heroContainerThanks .hero {
    padding-top: 130px;
  }
  header .heroContainerThanks .hero .logo img {
    height: 90px;
    width: 90px;
  }
  header .heroContainerThanks .hero .name {
    font-size: 2.8rem;
    margin-top: 15px;
  }
  header .heroContainerThanks .hero .headline {
    font-size: 2rem;
  }
}
